// Header variables
$sc-header-background-color: $flexitog-red; /* editable({"type": "color", "label": "Background"}) */
$sc-header-shadow-color: #666;
$sc-header-border-color: $sc-neutral-shade-0; /* editable({"type": "color", "label": "Border"}) */
$sc-header-border-width: 0;

// Header links variables
$sc-header-link-text-color: $flexitog-white; /* editable({"type": "color", "label": "Link"}) */
$sc-header-link-hover-text-color: $sc-color-copy-dark; /* editable({"type": "color", "label": "Link hover"}) */
$sc-header-link-active-text-color: $sc-color-copy-dark; /* editable({"type": "color", "label": "Link active"}) */
$sc-header-link-text-transform: none;

// Header cart link variables
$sc-header-cart-link-text-color: $flexitog-white; /* editable({"type": "color", "label": "Cart link"}) */
$sc-header-cart-link-text-color-hover: $sc-color-copy-dark;
$sc-header-cart-link-text-color-active: $sc-color-copy-dark;

// Mobile header icons
$sc-mobile-header-icon-color: $flexitog-white;
$sc-mobile-header-icon-active-color: $sc-color-copy-dark;
$sc-mobile-header-cart-icon-color: $flexitog-white;
$sc-mobile-header-cart-icon-active-color: $sc-color-copy-dark;

$sc-mobile-header-border-color: $sc-neutral-shade-0;
$sc-mobile-header-border-width: 0;